:root {
    --color1: rgb(87, 84, 84);
    --color2: teal;
    --color3: lightgray;
    --color4: darkblue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* need to make darkgray background box smaller */
header {
    margin: 0;
    padding: 50px 0 10px 0;
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 0;
}

header h1 {
    height: 40px;
    width: 250px;
    font-weight: bold;
    background-color: var(--color2);
    color: var(--color1);
}